/*setallhtmltagsmarginandpaddingtozerobydefault*/
*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
line-height:normal;
}
/*setlineheightforIE*/
@mediaalland(-ms-high-contrast:none),(-ms-high-contrast:active){
body{
line-height:1.5em;
}
}
/*setdefault100%widthforheader,mainandfooter*/
header,main,footer{
width:100%;
display:block;
}
/*clearfixforthecontaineroffloatproperties*/
.clearfix{
clear:both;
}
.clearfix:after{
content:'';
display:block;
clear:both;
}
/*removebulletornumberinunorderedandorderedlist*/
ul,ol{
list-style-type:none;
}
/*removeatagtextdecoration(likeunderline)andinheritthecolorofitsbody*/
a{
text-decoration:none;
color:inherit;
cursor:pointer;
}